/* Polices personnalisées */

@font-face {
    font-family: 'ralewaythin';
    src: url('assets/fonts/raleway-variablefont_wght-webfont.eot');
    src: url('assets/fonts/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('assets/fonts/raleway-variablefont_wght-webfont.woff') format('woff'),
         url('assets/fonts/raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('assets/fonts/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Styles principaux */

body
{
    font-family: raleway, 'Trebuchet MS', Arial, Helvetica, sans-serif;
    color: black;
}

#bloc_page
{
    width: 1340px;
    margin: auto;
}

/* Header */

header
{
    display: flex;
    flex-direction: column;
}

h1
{
   font-size: 1.5em; 
}

.txtnormal
{
    font-size: 0.7em;
    font-weight: 500;
}

#logo img
{
    width: 6.5em;
}

#titre_principal
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
/* Couleur des icones */

i
{
    color: #0065fc;
}

#aside_title> i
{
    color: black;
}