/* Polices personnalisées */
@font-face {
  font-family: 'ralewaythin';
  src: url('assets/fonts/raleway-variablefont_wght-webfont.eot');
  src: url('assets/fonts/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
        url('assets/fonts/raleway-variablefont_wght-webfont.woff') format('woff'),
        url('assets/fonts/raleway-variablefont_wght-webfont.ttf') format('truetype'),
        url('assets/fonts/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Styles principaux */
body {
  font-family: raleway, 'Trebuchet MS', Arial, Helvetica, sans-serif;
  color: black;
  max-width: 1440px;
  margin: auto;
}
#bloc_page {
  margin: 0 3.5% 3.5rem;
}
img {
  max-width: 100%;
  box-sizing: border-box;
}
.bold {
  font-weight: bold;
}
.blue {
  color: #0065fc;
}
.black {
  color: black;
}
.grey {
  color: #f2f2f2;
}
h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-bottom: 0.75rem;
}
h2 {
  font-size: 1.4rem;
  font-weight: bold;
}
h3 {
    font-size: 1rem;
    font-weight: bold;
}
p {
  font-size: 1rem;
  font-weight: normal;
}
h1, h2, h3, p {
  font-family: raleway, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

/* Header */

/*#logo_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
#logo {
  width: 6.5rem;
  margin-left: 0.5rem;
  margin-right: 2.5rem;
  padding-top: 2.2rem;
  position: absolute;
}
 /* menu */
nav {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  padding: 3.2rem 2.5rem;
}
a {
  text-decoration: none;
}
#sinscrire {
  color: #0065fc;
  padding-top: 3.2rem;
  padding-right: 2.5rem;
  padding-bottom: 3.2rem;
  padding-left: 2.5rem;
}
/* menu dynamique */
nav a:active, nav li:hover {
  color: #0065fc;
  font-weight: normal;
  padding-top: 3rem;
  border-top: 0.2rem solid #0065fc;
}
a:visited {
  color: inherit;
}

/* Titre principal */

h1 + p {
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;   
}

/* Section 1 : Recherche*/

#section1 {
  margin-left: 0.5rem;
}
/* Formulaire de recherche */
#recherche {
  display: flex;
  margin-bottom: 2rem;
}
#icon1 {
  background-color: #f2f2f2;
  width: 3rem;
  min-width: 3rem;
  height: 2.8rem;
  box-sizing: border-box;
  border-radius: 1rem 0 0 1rem;    
  display: flex;
  align-items: center;
  justify-content: center;
}
#icon1 i {
  font-size: 1.2rem;
}
#champ {
  font-size: 1rem;
  font-weight: normal;
  width: 15rem;
  height: 2.8rem;
  box-sizing: border-box;
  border-top: #f2f2f2 0.1rem solid;
  border-bottom: #f2f2f2 0.1rem solid;
  display: flex;
  align-items: center;
}
#ville {
  border-style: none;
  padding-left: 1rem;
  font-size: 1rem;
  font-family: raleway, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
/* apparence champ de recherche sur navigateurs */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type="search"] {
/*-webkit-appearance: none;
  -webkit-box-sizing: content-box; */
  outline: none;
}
#bouton-rechercher {
  height: 2.8rem;
  padding: 0 1.2rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
  background-color: #0065fc; 
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: raleway, 'Trebuchet MS', Arial, Helvetica, sans-serif;    
  cursor: pointer;
}
/* Filtres */
#bloc_filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}
#bloc_filters input {
  position: absolute;
  left: -9999px;
}
.filters {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  border-top: solid #d9d9d9 0.15rem;
  border-right: solid #d9d9d9 0.15rem;
  border-bottom: solid #d9d9d9 0.15rem;
  border-radius: 1.6rem;
  height: 2.8rem;
  box-sizing: border-box;
  cursor: pointer;
  background-color: white;
}
#fourfilters {
  display: flex;
}
.filters:hover{
  border-right: solid white 0.15rem;
  border-top: none;
  border-bottom: none;
  background-color: #deebff;
  box-shadow: inset -0.25rem -0.25rem 0.5rem -0.2rem rgba(0, 0, 0, 0.4);
}
#bloc_filters i {
  background-color: #deebff;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  padding: 0 1.2rem 0 0.8rem;
  font-weight: bold;  
}
/* Informations quantités logements */
#informations {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.icone-info {
  width: 1.6rem;
  height: 1.6rem;
  border: #f2f2f2 solid 0.15rem;
  border-radius: 50%;
  display: flex;
  box-sizing: border-box;
}
.icone-info i {
  font-size: 0.8rem;
  margin: auto;
}
#informations p {
  padding-left: 0.8rem;
}

/* Bloc principal : main + aside */

#bloc_principal {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-flow: row;
  column-gap: 3%;
}
/* Main */

#container_accomodation_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  row-gap: 2rem;
  column-gap: 3.75%;
  padding: 2rem 0rem;
}
#hebergements, #aside {
  padding: 3rem 2.5rem;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
}
#hebergements {
  box-sizing: border-box;
  min-width: 835px;
}
#Hébergements a, #Hébergements a:active, #Hébergements a:visited {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}
.card1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.accomodations_cards {
  background-color: white;
  overflow: hidden;
  min-width: 220px;
  border: solid 0.3rem white;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.card1:hover {
  
}
.img_hebergement {
  box-sizing: border-box;
  display: flex;
}
.txt_hebergement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem 0.8rem 0.2rem;
  line-height: 1.5rem;    
  box-sizing: border-box;
}
.txt_hebergement h3, .txt_hebergement p {
  font-size: 0.9rem;
}
.txt_hebergement i {
  font-size: 0.75rem;
  padding-top: 0.4rem;
}
.stars { 
  display: flex;
  padding-bottom: 0.2rem;
}
.fa-star {
  padding-right: 0.1rem;
}
#afficherplus a {
  font-size: 1.2rem;
}
#afficherplus {
  padding-top: 0.5rem;
}

/* aside */

aside h2 {
  display: flex;
  justify-content: space-between;
}
aside h2 i {
  color: black;
}
#container_popular_cards {
  display: grid;
  justify-content: center;
  row-gap: 2rem;
  padding: 2rem 0 0;
}
.popular_cards {
  background-color: white;
  overflow: hidden;
  min-width: 309px;
  border: solid 0.3rem white;
  border-radius: 1.5rem;
  padding: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  box-sizing: border-box;
}
.popular {
  display: flex;
}
.img_popular {
  max-width: 30%;
  min-width: 127px;
  display: flex;
  align-items: center;
}
.txt_popular {
  line-height: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.txt_popular h3, .txt_popular p {
  font-size: 0.9rem;
}
.txt_popular i {
  font-size: 0.75rem;   
}

/* Section 2 */

#activites {
  margin-top: 4rem;
}
#container_activity_cards {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3%;
  padding-top: 2rem;
}
.activity_cards {
  background-color: white;
  overflow: hidden;
  min-width: 285px;
  border-radius: 1.5rem;
  padding: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
#activites article h3 {
  text-align: left;
  padding: 1rem 1rem;
  font-size: 0.9rem;
}
.landscape {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

/* Footer */

footer {
  background-color: #f2f2f2;
}
#footer {
  display: flex;
  padding: 3rem 3.5% 3.5rem;
}
.column_footer {
  line-height: 2rem;
  margin-right: 15%;
  width: 20rem;
}
.column_footer h3 {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}
footer a {
  color: black;
}

/* Media queries */

@media all and (max-device-width:480px) {
  /* general */
  #bloc_page {
    margin: 0;
  }
  h1, h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  /* Header */ 
  #logo {
    margin-left: 0.8rem;
  }
  /* nav */
  #sinscrire {
    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
  }
  nav {
    flex-wrap: wrap-reverse;
    font-size: 1rem;
  }
  nav ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
  }
  nav li {
    padding-top: 0;
    padding-bottom: 1rem;
    font-size: 1rem;
    text-align: center;
  }
  /* menu dynamique */
  nav a:active, nav li:hover {
    color: #0065fc;
    font-weight: normal;
    border-bottom: 0.2rem solid #0065fc;
    padding-top: 0rem;
    border-top: none;
  }
  /* Titre */
  h1 + p {
    margin-left: 0.8rem;
    margin-bottom: 1.5rem;   
  }
  h1 {
    padding-top: 1rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  /* Section 1 */
}

@media all and (max-width:1024px) {
  nav li{
    padding-right: 9%;
    padding-left: 9%;
  }
  #sinscrire {
    
  padding-top: 3.2rem;
  padding-right: 1rem;
  padding-bottom: 3.2rem;
  padding-left: 1rem;
  }
  #bloc_filters {
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  #bloc_filters p {
    font-size: 1.1rem;
  }
  .filters {
    margin-left: 0;
    margin-bottom: 0.8rem;
    margin-right: 0.8rem;
    height: 2.6;    
  }
  #fourfilters {
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #bloc_filters i {
    width: 2.6rem;
    height: 2.6rem;
    font-size: 1rem;
  }
  .info {
    padding: 0 1rem 0 0.6rem;
  }
}

