/* Polices personnalisées */
@font-face {
  font-family: 'ralewaythin';
  src: url('assets/fonts/raleway-variablefont_wght-webfont.eot');
  src: url('assets/fonts/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
        url('assets/fonts/raleway-variablefont_wght-webfont.woff') format('woff'),
        url('assets/fonts/raleway-variablefont_wght-webfont.ttf') format('truetype'),
        url('assets/fonts/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Styles principaux */
body {
  font-family: raleway, 'Trebuchet MS', Arial, Helvetica, sans-serif;
  color: black;
  max-width: 1440px;
  margin: auto;
}
#bloc_page {
  margin: 0 3.5% 3.5rem;
}
img {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.bold {
  font-weight: bold;
}
.blue {
  color: #0065fc;
}
.black {
  color: black;
}
.grey {
  color: #f2f2f2;
}
h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-bottom: 0.75rem;
}
h2 {
  font-size: 1.4rem;
  font-weight: bold;
}
h3 {
    font-size: 1rem;
    font-weight: bold;
}
p {
  font-size: 0.9rem;
  font-weight: normal;
}
h1, h2, h3, p {
  font-family: raleway, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

/* Header */

/* logo */
#logo {
  width: 6rem;
  margin-left: 0.5rem;
  padding-top: 2.2rem;
  position: absolute;
}
 /* menu */
nav {
  display: flex;
  justify-content: flex-end;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  padding: 3.2rem 2.5rem;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#sinscrire {
  color: #0065fc;
  padding-top: 3.2rem;
  padding-right: 2.5rem;
  padding-bottom: 3.2rem;
  padding-left: 2.5rem;
}
/* menu dynamique */
nav li:hover {
  color: #0065fc;
  font-weight: normal;
  padding-top: 3rem;
  border-top: 0.2rem solid #0065fc;
}
a:visited {
  color: inherit;
}

/* Titre principal */

h1 + p {
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;   
}

/* Section 1 : Recherche*/

#section1 {
  margin-left: 0.5rem;
}
/* Formulaire de recherche */
#recherche {
  display: flex;
  margin-bottom: 2rem;
}
form label {
  background-color: #f2f2f2;
  width: 3rem;
  min-width: 3rem;
  height: 2.8rem;
  box-sizing: border-box;
  border-radius: 1rem 0 0 1rem;    
  display: flex;
  align-items: center;
  justify-content: center;
}
#rechercher i {
  font-size: 1.2rem;
}
#ville {
  width: 13rem;
  border-top: #f2f2f2 0.1rem solid;
  border-bottom: #f2f2f2 0.1rem solid;
  border-right: none;
  border-left: none;
  padding-left: 1rem;
  padding-right: 2rem;
  font-size: 1rem;
  font-family: raleway, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
.iconrechercher {
  display: none;
}
/* apparence champ de recherche sur navigateurs */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type="search"] {
  outline: none;
}
#bouton-rechercher {
  height: 2.8rem;
  padding: 0 1.2rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
  background-color: #0065fc; 
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: raleway, 'Trebuchet MS', Arial, Helvetica, sans-serif;    
  cursor: pointer;
}
/* Filtres */
#bloc_filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}
#bloc_filters h2 {
  font-size: 1.1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
#bloc_filters input {
  position: absolute;
  left: -9999px;
}
.filters {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  border-top: solid #d9d9d9 0.15rem;
  border-right: solid #d9d9d9 0.15rem;
  border-bottom: solid #d9d9d9 0.15rem;
  border-radius: 1.6rem;
  height: 2.8rem;
  cursor: pointer;
  background-color: white;
  box-sizing: border-box;
}
#fourfilters {
  display: flex;
}
.filters:hover{
  border-right: solid white 0.15rem;
  border-top: none;
  border-bottom: none;
  background-color: #deebff;
  box-shadow: inset -0.25rem -0.25rem 0.5rem -0.2rem rgba(0, 0, 0, 0.4);
}
#bloc_filters span {
  background-color: #deebff;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  padding: 0 1.3rem 0 0.9rem;
  font-weight: bold;
  font-size: 1.1rem;  
}
/* Informations quantités logements */
#informations {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1rem;
}
.icone-info {
  min-width: 1.6rem;
  min-height: 1.6rem;
  border: #f2f2f2 solid 0.15rem;
  border-radius: 50%;
  display: flex;  
  box-sizing: border-box;
  margin-right: 0.5rem;
}
.icone-info i {
  font-size: 0.8rem;
  margin: auto;  
}

/* main : section2 + aside */

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 3%;
}
/* Main */

#container_accomodation_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, auto));
  grid-auto-rows: max-content;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 2rem 0rem;
}
#section2, #aside {
  padding: 3rem 2.5rem 2rem;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
}
.accomodations_cards {
  background-color: white;
  overflow: hidden;
  min-width: 180px;
  max-width: 340px;
  border: solid 0.35rem white;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.accomodations_cards:hover, .popular_cards:hover, .activity_cards:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.img_hebergement {
  box-sizing: border-box;
  display: flex;
}
.txt_hebergement {
  padding: 0.4rem 0.8rem 0.2rem;
  line-height: 1.5rem;    
  box-sizing: border-box;
}
.txt_hebergement i {
  font-size: 0.75rem;
  padding-top: 0.4rem;
}
.stars { 
  display: flex;
}
.fa-star {
  padding-right: 0.1rem;
}
#afficherplus a {
  font-size: 1.2rem;
}
#afficherplus {
  padding-top: 1rem;
}

/* aside */

aside h2 {
  display: flex;
  justify-content: space-between;
}
aside h2 i {
  color: black;
}
#container_popular_cards {
  display: grid;
  justify-content: center;
  row-gap: 2rem;
  padding: 2rem 0 0;
}
.popular_cards {
  background-color: white;
  overflow: hidden;
  min-width: 285px;
  border: solid 0.35rem white;
  border-radius: 1.5rem;
  padding: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  box-sizing: border-box;
}
.card2 {
  display: flex;
  box-sizing: border-box;
}
.img_popular {
  width: 130px;
  min-width: 127px;
  display: flex;
  box-sizing: border-box;
}
.txt_popular {
  line-height: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.txt_popular h3 {
  line-height: 1.2rem;
  padding-bottom: 0.3rem;
}
.txt_popular p {
  line-height: 1.2rem;
}
.txt_popular i {
  font-size: 0.75rem;   
}

/* Section 3 */

#activites {
  margin-top: 4rem;
}
#container_activity_cards {
  width: auto;
  display: grid;
  grid-auto-flow: column;
  column-gap: 3%;
  padding-top: 2rem;
}
.activity_cards {
  background-color: white;
  overflow: hidden;
  min-width: 216px;
  border-radius: 1.5rem;
  padding: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.activity_cards h3{
  text-align: left;
  padding: 1rem 1rem;
}
.img_activity {
  display: flex;
  box-sizing: border-box;
}
.landscape {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

/* Footer */

footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 3rem 25% 3.5rem 3.5%;
}
.column_footer {
  line-height: 2rem;
}
.column_footer h3 {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}
footer a {
  color: black;
}

/* Media queries */

/* Règles CSS pour écrans tablettes */
@media all and (max-width:1024px) {
    /* Header */
  nav li{
    padding-right: 9%;
    padding-left: 9%;
  }
  nav li:active {
    color: #0065fc;
    padding-top: 3rem;
    border-top: 0.2rem solid #0065fc;
  }
  #sinscrire {
  padding-top: 3.2rem;
  padding-right: 1rem;
  padding-bottom: 3.2rem;
  padding-left: 1rem;
  }
   /* Section 1 */
  #bloc_filters {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 0;
  }
  #bloc_filters h2 {
    padding-top: 0;
  }
  .info {
    padding: 0 1rem 0 0.8rem;
    font-size: 1.1rem;
  }
  .filters {
    margin-left: 0;
    margin-bottom: 0.8rem;
    box-sizing: border-box;   
  }
  .filters:active {
    border-right: solid white 0.15rem;
    border-top: none;
    border-bottom: none;
    background-color: #deebff;
    box-shadow: inset -0.25rem -0.25rem 0.5rem -0.2rem rgba(0, 0, 0, 0.4);
  }
  #fourfilters {
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }  
    /* Main */
  .accomodations_cards:active, .popular_cards:active, .activity_cards:active {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    }
  #section2, #aside {
    padding: 3rem 2.5rem;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
  } 
    /* Aside */
  #container_popular_cards {
    justify-content: stretch;
  }
  .card2 {
    max-height: 134px;
  }
  .img_popular {
    object-fit: cover;
  }

    /* Section 2 */
  #section2 {
    margin-top: 2rem;
  }
    /* Section 3 */
  #container_activity_cards {
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow: row;
    row-gap: 2rem;
  } 
    /* Footer */
  footer {
    padding: 3rem 3.5% 3.5rem 3.5%;
  }
  .column_footer {
    padding-right: 1rem;
  }   
}

  /* Règles CSS pour écrans smartphones */
@media all and (max-width:510px) {
    /* general */
  #bloc_page {
    margin: 0;
  }
  h3 {
    font-size: 1.1rem;
  }
    /* Header */ 
  #logo {
    margin-left: 1.2rem;
  }
    /* nav */
  #sinscrire {
    padding-top: 3.5rem;
    padding-right: 1.2rem;
    padding-bottom: 2.5rem;
    padding-left: 1rem;
  }
  nav {
    flex-wrap: wrap-reverse;
    font-size: 1rem;
  }
  nav ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
  }
  nav li {
    padding-top: 0;
    padding-bottom: 1rem;
    padding-top: 0rem;
    text-align: center;
    border-bottom: 0.2rem solid #f2f2f2;
  }
  nav li:active {
    color: #0065fc;
    padding-top: 0;
    border-bottom: 0.2rem solid #0065fc;
    border-top: none;
  }
  nav li:hover {
    padding-top: 0;
    border-top: none;
    border-bottom: 0.2rem solid #0065fc;
  } 
      /* Titre */
  h1 + p {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 1.5rem;   
  }
  h1 {
    padding-top: 2rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
    /* Section 1 */
  #section1 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
  #recherche {
    display: grid;
    grid-template-columns: 3rem auto;
  }
  #ville {
    position: relative;
    border-radius: 0 1rem 1rem 0;
    border-right: #f2f2f2 0.1rem solid;    
    width: auto;
  }
  #bouton-rechercher {
    border-radius: 1rem;
    width: 3rem;
    position: absolute;
    right: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .iconrechercher {
    display: block;
  }
  .motrechercher {
    display: none;
  }
  .filters {
    margin-right: 0.8rem;
  }
  .info {
    font-size: 1rem;
    padding-right: 0.8rem;
  }
  .icone-info {
    align-self: start;
  }
  #informations {
    font-size: 1rem;
    line-height: 1.2rem;
    padding-top: 0.2rem;
  }
    /* Main */
  #section2, #aside {
    padding: 2rem 1.2rem;
  }
   /* Aside */
  #aside {
    border-radius: inherit;
  }  
  #container_popular_cards {
    justify-content: initial;
    row-gap: 1rem;
  }
  .popular_cards {
    border-radius: 1.2rem;
  }
  .txt_popular {
    line-height: 1.2rem;
  }
  .txt_popular p {
    padding-top: 0.5rem;
  }
   /* Section2 */
  #section2 {
    margin-top: 0;
    background-color: white;
    border-radius: inherit;
  }
  #container_accomodation_cards {
    row-gap: 1rem;
  }
  .accomodations_cards {
    border-radius: 1.2rem;
  }
  .img_hebergement {
    height: 112px;
  }
  #afficherplus {
    padding-top: 0;
  }
    /* Section 3 */
  #activites {
    margin-top: 1.5rem;
    padding: 0 1.2rem;
  }
  #container_activity_cards {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }
  .activity_cards {
    max-width: 450px;
    border-radius: 1.2rem;
    margin-bottom: 1.5rem;   
  }
  .img_activity {
    height: 134px;
    justify-content: center;
  }
  #activites article h3 {
    padding: 1.2rem 1rem;
  }
    /* Footer */
  footer {
    flex-direction: column;
    padding: 2rem 1.2rem;
    margin-top: 1rem;
  }
  .column_footer {
    margin-bottom: 2rem; 
    padding-right: 0rem;
  }
}

/* Règles CSS pour écrans inférieurs à 320px */
@media all and (max-width:320px) {
  #ville {
    padding-right: 0rem;
    font-size: 0.9rem;
  }
  .popular_cards {
    min-width: auto;
  }
  h3 {
    font-size: 0.9rem;
  }
  .txt_popular {
    padding-bottom: 0rem;
  }
  .txt_popular h3 {
    line-height: 1rem;
  }
  .txt_popular p {
    font-size: 0.8rem;
    padding-top: 0rem;
  }
}